# Simple experiment that should show easy correlation

Dataset location:
https://www.kaggle.com/vinicius150987/ice-cream-revenue

In [2]:
import pandas as pd

df = pd.read_csv('../input/ice-cream-revenue/IceCreamData.csv')

In [3]:
df.head()

   Temperature     Revenue
0    24.566884  534.799028
1    26.005191  625.190122
2    27.790554  660.632289
3    20.595335  487.706960
4    11.503498  316.240194

In [4]:
corr_matrix = df.corr(method = 'pearson')
corr_matrix

             Temperature   Revenue
Temperature     1.000000  0.989802
Revenue         0.989802  1.000000